/* Definición del GRID */

body {
  font-family: "Inter", sans-serif;
  background-color: #fee5f9;
  color: #333;
  /* line-height: 1.6; */
  margin: 0;
}

.grid {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: auto 1fr auto;
}

/*Estilización de elementos sin clases*/

P {
  font-family: 'roboto condensed';
}

button {
  background-color: #ff65d9;
  color: white;
  margin-top: 20px;
  padding: 15px 20px;
  border: none;
  border-radius: 15px;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.2s, background 0.3s;
}

/* button:hover {
  background-color: rgb(235, 80, 200);
  transform: translateY(-2px) scale(1.1);
} */

/* Partes del grid */

header {
  grid-area: header;
  top: 0;
  width: 100%;
  z-index: 2;
}

.over-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  background-color: #464646;
  color: white;
  padding: 10px 5px;
  font-size: 15px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  background: #ffcbf5;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15);
}

.logo {
  width: 100px;
}

.menu {
  display: flex;
  gap: 1vw;
  list-style: none;
  padding-left: 0;
}

.menu a {
  color: #333;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.3s;
  font-size: 15px;
}

.menu a:hover {
  color: rgb(255, 101, 217);
}

.icon {
  width: 20px;
}

.carrito-icon {
  width: 50px;
  color: #333;
  cursor: pointer;
}

.carrito-icon:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
}

main {
  grid-area: main;
}

/* Hero section */

.hero-section {
  background-color: #fbdee2;
  background: linear-gradient(220deg, #fee5f9 50%, #ffa1eb 100%);
  height: 500px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15);
  line-height: 0.1;
  position: relative;
}

.prueba img {
  margin-right: 0;
  height: 100%;
  clip-path: circle(60% at 60% 50%);
  z-index: 0;
  right: 0;
  position: absolute;
}

.fruti {
  display: flex;
}

.fruti img {
  position: absolute;
  width: 600px;
  bottom: 0;
  left: 50vw;
  transform: translateX(-50%);
  z-index: 1;
}

.info p {
  margin-top: 0;
  font-size: 1rem;
}

.info {
  margin-left: 12vw;
  z-index: 2;
}

.welcome2 {
  background: linear-gradient(225deg, #FF4C4C 50.5%, #464646 50.5%);
  background-clip: text;
  /* Estándar (soporte parcial) */
  -webkit-background-clip: text;
  /* Versión con prefijo, necesaria en WebKit/Safari */
  color: transparent;
  /* Estándar */
  -webkit-text-fill-color: transparent;
  /* Versión con prefijo, necesaria en WebKit/Safari */
  font-size: 6rem;
  font-weight: 400;
  line-height: 1.1;
  max-width: 40rem;
  margin-bottom: 2vw;
  margin-top: 3vw;
  font-family: 'calistoga';
  z-index: 2;
}

.pre-tittle {
  margin-top: 50px;
  font-size: 1rem;
  color: #eb50c8;
  text-align: center;
  line-height: 0.01;
}

.welcome {
  line-height: 0.1;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 50px;
}

.h2 {
  font-size: 2.5rem;
  text-align: center;
}

/* carrito */
.carrito {
  background-color: white;
  border: 3px solid white;
  width: 450px;
  margin-top: 150px;
  border-radius: 20px 0px;
  /* overflow: hidden; */
  margin-bottom: auto;
  position: fixed;
  top: 0;
  right: 0;
  margin-right: 10px;
  /* Estilos para ocultar */
  opacity: 1;
  z-index: 2;
}

.header-carrito {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  background-color: #FF4C4C;
  color: #f3f3f3;
  text-align: center;
  padding: 5px 0;
  border-radius: 20px 0px;
}

.carrito-item {
  display: flex;
  align-items: start;
  justify-content: space-around;
  background-color: #f3f3f3;
  position: relative;
  border-bottom: 3px solid white;
  padding-bottom: 1rem;
}

.carrito-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  clip-path: circle(45% at 50% 50%);
  margin-top: 10px;
}

.carrito-item-detalles {
  /* margin-left: 1rem; */
  margin-top: 10px;
  width: 250px;
}

.carrito-item-titulo {
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.selector-cantidad {
  margin-right: 25px;
}

.carrito-item-cantidad {
  border: none;
  font-size: 18px;
  background-color: #f3f3f3;
  display: inline-block;
  width: 30px;
  padding: 5px;
  text-align: center;
}

.selector-cantidad i {
  font-size: 18px;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #000;
  cursor: pointer;
}

.selector-cantidad i:hover {
  transition: .2s;
  transform: scale(1.2);
}

.boton-eliminar {
  transition: .2s;
  transform: scale(1.2);
}

.carrito-item-precio {
  font-weight: bold;
  display: inline-block;
  font-size: 18px;
  margin-bottom: 5px;
}

.btn-eliminar {
  margin-top: 10px;
  color: #000;
  font-size: 20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #000;
  cursor: pointer;
  background: #f3f3f3;
}

.btn-eliminar i {
  pointer-events: none;
}

/* */

.carrito-total {
  background-color: #f3f3f3;
  padding: 30px;
  border-radius: 20px 0px;
  position: relative;
}

.fila {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

.btn-pagar {
  width: 100%;
  background: #FF4C4C;
  color: #fff;
  border-radius: 5px;
  font-size: 18px;
  padding: 20px 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  transition: .3s;
}

.btn-pagar:hover {
  transform: scale(1.1);
}

.imagen-pago {
  position: absolute;
  left: -80px;
  bottom: -80px;
}

.imagen-pago img {
  width: 10rem;
}

/* Lista de productos */

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 220px));
  gap: 1rem;
  justify-content: center;
  /* align-items: start;
  display: flex;
  justify-.content: center; */
}

.card {
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 1vw 2vw rgba(0, 0, 0, 0.15);
  transition: transform 0.2s;
  min-height: 340px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.card:hover {
  transform: translateY(-5px) scale(1.1);
  cursor: pointer;
}

.img-container {
  width: 150px;
  height: 150px;
  margin: 0 auto 16px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: #f7f7f7;
  border-radius: 8px;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.card h3 {
  margin-bottom: 8px;
  font-size: 1.1rem;
  font-weight: 600;
}

.card p {
  margin-bottom: 12px;
  font-weight: 500;
  color: #444;
}

.bio {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bio p {
  max-width: 350px;
  margin-right: 20px;
}

.bio img {
  width: 500px;
  clip-path: circle(42% at 50% 50%);
}

.centrar2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
}

.comentario-fondo {
  position: absolute;
  inset: 0;
  margin: auto;
  background-color: white;
  border-radius: 3rem;
  width: 60rem;
  height: 30rem;
}

footer {
  margin-top: 40px;
  grid-area: footer;
  text-align: center;
  padding: 20px;
  background: #ffcbf5;
  font-size: 2vh;
  color: #666;
}

.tabla-productos th,
.tabla-productos td {
  padding: 16px 60px;
  text-align: center;
}

.tabla-productos {
  margin-bottom: 150px;
}

.producto-detalle {
  display: flex;
  gap: 100px;
  padding: 50px;
  margin-bottom: 200px;
}

.outline {
  display: flex;
  align-items: center;
  background-color: #fff3fe;
  padding: 20px;
  border-radius: 40px;
  height: 400px;
  width: auto;
}

.descripcion {
  padding-top: 10px;
  padding-bottom: 100px;
  max-width: 650px;
}

.info-producto h1 {
  padding-bottom: 20px;
}

.img-producto {
  display: inline;
  width: 400px;
}

.centrar {
  display: flex;
  justify-content: center;
}

.purchase-form {
  margin-bottom: 450px;
}

/* Acá empieza el formulario de contacto */

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.centrar2 img {
  border-radius: 20px;
  width: 500px;
  height: 400px;
}

.contact-form input {
  height: 50px;
  width: 500px;
  border-color: white;
  font-size: 20px;
  font-family: 'roboto condensed';
}

.contact-form input:focus {
  outline: 2px solid #ff65d9;
  box-shadow: 0 0 0 1vw #fee5f9;
}

/* Acá empieza el formulario de compra */

.form-group {
  display: flex;
}

.form-group div {
  width: 200px;
}

.Rellenar {
  color: gray;
  width: 500px;
  height: 45px;
  border-color: white;
  margin-left: 20px;
  margin-bottom: 10px;
  font-size: 20px;
}

.Rellenar:focus {
  outline: 2px solid #ff65d9;
  box-shadow: 0 0 0 2vw #fee5f9;
}

.Rellenar option {
  color: gray;
}

/* Parte responsive */
@media (max-width:1700px) {
  .fruti img {
    width: 35vw;
  }
}

@media (max-width:1235px) {
  .hero-section {
    height: 42vw;
  }

  .welcome2 {
    font-size: 7.5vw;
    max-width: 50vw;
  }

  .info p {
    font-size: 2vw;
  }

  button {
    margin-top: 2vw;
    padding: 2vw 2.5vw;
    font-size: 2vw;
  }

  .boton-item {
    margin-top: 20px;
    padding: 15px 20px;
    font-size: 20px;
  }

  /* Formulario */
  .contact-form {
  display: flex;
  flex-direction: column;
}

.centrar2 img {
  display: none;
}

.contact-form input {
  height: 50px;
  width: 50vw;
  font-size: 20px;
}

}

@media (max-width: 1024px) {
  .bio {
    flex-direction:column;
  }

  .bio p {
    max-width: 350px;
    margin-right: 20px;
  }

  .bio img {
    width: 500px;
    clip-path: circle(42% at 50% 50%);
  }

}

/* Carrito */
@media (max-width: 768px) {
  .carrito {
    width: 64vw;
    margin-top: 150px;
    margin-right: 10px;
  }

  .header-carrito {
    gap: 0.5rem;
    padding: 5px 0;
    border-radius: 20px 0px;
    font-size: 2.5vw;
  }

  .header-carrito svg {
    width: 8vw;
  }

  .carrito-item {
    padding-bottom: 1rem;
  }

  .carrito-item img {
    width: 12vw;
    height: 12vw;
    margin-top: 10px;
  }

  .carrito-item-detalles {
    margin-top: 10px;
    width: 30vw;
    position: relative;
  }

  .carrito-item-titulo {
    margin-bottom: 10px;
    font-size: 2.2vw;
  }

  .selector-cantidad {
    margin-right: 25px;
  }

  .carrito-item-cantidad {
    font-size: 2.5vw;
    width: 2.5vw;
    padding: 5px;
  }

  .selector-cantidad i {
    font-size: 2vw;
    width: 4vw;
    height: 4vw;
    line-height: 4vw;
  }

  .carrito-item-precio {
    position: absolute;
    right: 0;
    font-size: 2.5vw;
    margin-bottom: 5px;
  }

  .btn-eliminar {
    margin-top: 10px;
    font-size: 2.5vw;
    width: 4.5vw;
    height: 4.5vw;
    line-height: 4.5vw;
  }

  .carrito-total {
    padding: 4vw;
    border-radius: 20px 0px;
  }

  .fila {
    font-size: 3vw;
    margin-bottom: 10px;
  }

  .btn-pagar {
    width: 100%;
    border-radius: 5px;
    font-size: 3vw;
    padding: 3vw 1.5vw;
  }

  .imagen-pago {
    left: -10vw;
    bottom: -10vw;
  }

  .imagen-pago img {
    width: 20vw;
  }
}

@media (max-width: 480px) {

  .over-header {
    flex-direction: column;
    gap: 10px;
  }

  .header-nav {
    display: grid;
    grid-template-areas:
      "logo carrito"
      "menu menu";
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
  }

  .logo {
    grid-area: logo;
  }

  .menu {
    grid-area: menu;
    justify-content: space-around;
  }

  .carrito-icon {
    grid-area: carrito;
  }

  /* Carrito */
  .carrito {
    margin-top: 230px;
  }

  .welcome {
    font-size: 10vw;
  }

  /* Productos */
  .products {
    grid-template-columns: repeat(auto-fit, minmax(150px, 150px));
    /* gap: 1rem; */
  }

  .card {
    /* border-radius: 12px;
  padding: 20px; */
    min-height: 240px;
  }

  .img-container {
    width: 100px;
    height: 100px;
    margin: 0 auto 16px auto;
    border-radius: 8px;
  }

  .img-container img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }

  .card h3 {
    margin-bottom: 8px;
    font-size: 1rem;
    font-weight: 600;
  }

  .card p {
    margin-bottom: 12px;
    font-size: 0.8rem;
  }

  .boton-item {
    margin-top: 10px;
    padding: 10px 15px;
    font-size: 15px;
  }

}